body{
    background: url(./bg3.jpg) no-repeat;
    background-size: cover;
    margin: 0px;
    height: 100%;
    width: 100%;
}
.pass-time{
    color:white;
    font-size:16px;
    margin:0 auto;
    text-align: center;
}

div#content {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    height: 800px;
    clear: both;
    overflow: hidden;
}
